<div class="wrapper">
  <div class="container">
    <h1 style="margin-top: 100px">All tags</h1>
    <div class="row specs-row">
      <% if @all_tags.first.nil? %>
        <h3>No updates yet!</h3>
      <% else %>
      <!-- <div id="tag_cloud"> -->
        <%# tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
          <%#= link_to tag.name, tag_path(tag.name), class: css_class %>
        <%# end %>
      <!-- </div> -->
        <% @sorted_tags.each do |tag| %>
          <div class="col-xs-12 col-sm-6">
              <h3><%= tag %></h3>
              <p>
              <% @tags = Tag.where(name: tag) %>
                  <% raise %>
              <% @tags.each do |t| %>
                <% t.specs.each do |spec| %>
                  <p><%= link_to "#{spec.title}", spec_path(spec)%></p>
                <% end %>
              <% end %>
              </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
