<div class="wrapper">
  <div class="container">
    <h1 style="margin-top: 100px">All tags</h1>
    <div class="row specs-row">
      <% if @tags.first.nil? %>
        <h3>No updates yet!</h3>
      <% else %>
      <!-- <div id="tag_cloud"> -->
        <%# tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
          <%#= link_to tag.name, tag_path(tag.name), class: css_class %>
        <%# end %>
      <!-- </div> -->
        <% @sorted_tags.each do |tag| %>
          <div class="col-xs-12 col-sm-6">
              <h3><%= tag %></h3>
              <p> <% @tags.where(name: tag).each do |t| %>
                    <%= t.id %>
                  <% end %>
              </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

